.p1{
    text-align: right,;
    text-decoration:wavy,underline,red ;
}

.p2{
    text-align: right,;
    text-decoration:wavy,underline,red ;
}

.p3{
    text-align: right,;
    text-decoration:wavy,underline,red ;
}

.p4{
    text-align: right,;
    text-decoration:wavy,underline,red ;
}

.p5{
    text-align: right,;
    text-decoration:wavy,underline,red ;
}

.p6{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}

.p7{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}


.p8{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}


.p9{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}


.p10{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}

.p11{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}

.p12{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}

.p13{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}

.p14{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}

.p15{
    text-align: center,;
    text-decoration:dotted,line-through,yellow ;
}


